// 
// backgrounds.scss
//


@each $color,
$value in $style-colors {
    .bg-#{$color} {
        &.bg-soft{
            background-color: rgba(($value), 0.25) !important;
        }
    }
}
